<!DOCTYPE html> 
<html> 
<head> 
	<title>Starter app</title> 
	<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %> <%= csrf_meta_tags %> 
</head> 
<body> 

 <section id="page"> 

 <header> 

 <hgroup>

 <hgroup> 
	<%= image_tag("logo.png", :alt => "A king-making recommender app", :class => "logo") %>
	<h1>Demo
  </h1> 
	<h3>an oddnode demo</h3> 
	</hgroup>

 <nav class="clear"> 
	<ul class="hmenu"> 
	 <li><%= link_to "Home", root_path %></li>
<%= render 'devise/menu/registration_items' %> <%= render 'devise/menu/login_items' %>

 </ul> 
</nav>

</header> 
<section id="articles"> 



 <div class="line"></div> 
<%- flash.each do 
	|name, msg| -%> <%= content_tag :div, msg, :id=> "flash_#{name}" if msg.is_a?(String) %>
 <%- end -%>

<%= yield %> 
</section> 
</div> 
<footer> Footer text etc</footer> 
</body> 
</html>
